{% load static %}

<div>
    <h2>Cours</h2>
</div>

<div>
    <div>
        <form id="search-course-form">
            <input type="text" id="search-course-input"
                   placeholder="Rechercher par nom">
            <input type="submit" value="Rechercher"/>
        </form>
        <div id="search-course-results">
            <ul class="scrollable-list">
                {% for course in courses %}
                    <li>
                        <a href="{% url 'administration:update_course' course.id %}"
                           >{{ course.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <p><a href="{% url 'administration:create_course' %}"
          >Créer un cours</a></p>
</div>

<script type="text/javascript"
        src="{% static 'administration/js/courses_script.js' %}"></script>
