{% load static %}

<div>
    <h2>UE</h2>
</div>

<div>
    <div>
        <form id="search-ue-form">
            <input type="text" id="search-ue-input"
                   placeholder="Rechercher par nom">
            <input type="submit" value="Rechercher"/>
        </form>
        <div id="search-ue-results">
            <ul class="scrollable-list">
                {% for ue in ues %}
                    <li>
                        <a href="{% url 'administration:update_ue' ue.id %}"
                           >{{ ue.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <p><a href="{% url 'administration:create_ue' %}"
          >Créer une UE</a></p>
</div>

<script type="text/javascript"
        src="{% static 'administration/js/ues_script.js' %}"></script>