{% extends "administration/base.html" %}

{% block content %}
<div>
    <h2>Page de {{ subject.name }}</h2>
</div>

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Modifier">
            </form>
        </div>
    </div>
</div>

<div class="form-items">
    <form method="post"
          action="{% url 'administration:delete_subject' subject.id %}">
        {% csrf_token %}
        <input type="hidden" name="subject_id" value="{{ subject.id }}">
        <input type="submit" value="Supprimer matière">
    </form>
</div>
{% endblock %}