{% extends "administration/base.html" %}

{% block content %}
<div>
    <h2>Page de {{ course.name }}</h2>
</div>

<div class="form-holder">
    <div class="form-content">
        <div class="form-items revert-colors">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input class="black-text" type="submit" value="Modifier">
            </form>
        </div>
    </div>
</div>

<div id="no-background" class="form-items revert-colors">
    <form method="post"
          action="{% url 'administration:delete_course' course.id %}">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{ course.id }}">
        <input class="black-text" type="submit" value="Supprimer cours">
    </form>
</div>
{% endblock %}