{% load static %}

{% block jquery %}
    <!-- Script jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
{% endblock %}

<div>
    <h2>Page de {{ course.name }}</h2>
</div>

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Modifier">
            </form>
        </div>
    </div>
</div>

<div class="form-items">
    <form method="post"
          action="{% url 'administration:delete_course' course.id %}">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{ course.id }}">
        <input type="submit" value="Supprimer cours">
    </form>
</div>

<script type="text/javascript"
        src="{% static 'administration/js/courses_script.js' %}"></script>