body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: 100%;
    /*background: linear-gradient(to bottom right, rgb(0, 204, 255), rgb(32, 199, 221), rgb(0, 255, 255));"*/
    background-color: rgb(253, 245, 245);
    
    
    
}

header {
    /*background-color: #5499B6;*/
    /*background-color: #0056b3;*/
    background-color: rgb(179, 36, 1);
    color: white;
    padding: 1px;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.colonne-gauche, .colonne-milieu, .colonne-droite {
    padding: 10px;
    overflow-y: auto;
    text-align: center;
}

.colonne-gauche {
    width: 40%;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.colonne-milieu {
    width: 25%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.colonne-droite {
    width: 25%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.emploi-du-temps {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.emploi-du-temps div {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.boite-info {
    /*background-color: #90d0db;*/
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.boite-info h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.boite-info p {
    margin: 5px 0;
    font-size: 0.9em;
}
