{% extends "user_portal/base.html" %}
{% load static %}

{% block content %}
<div>
    <table>
      <tbody>
        <thead>
            <tr>
                <th>Appel à faire :</th>
            </tr>

        </thead>

        {% for session in sessions %}
            {% if session.course.teacher == user %}
                {% if not session.is_called_done%}
                    <tr>
                        <td>
                            <a  class="notes_section"
                                href="{% url 'user_portal:class_call' session.id %}">
                                {{session.course.name}} {{session.date}}
                            </a></div>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
      </tbody>

    </table>
</div>
{% endblock %}