{% extends "user_portal/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user_portal/css/style_notes.css' %}"/>
{% endblock %}{% block content %}

<div >
    <h3>absence et retard non justifié:</h3>

    {% for a in absences %}

            <div >
                <a>Absent à {{a.session.course.name}} le {{a.course.date}} </a>
            </div>

    {% endfor %}
    {% for l in lates %}

            <div >
                <a>En retard à {{l.session.course.name}} le {{l.course.date}} </a>
            </div>
        
    {% endfor %}
</div>
{% endblock %}