{% block content %}

<div >
    <h3>absence et retard non justifié:</h3>
    
    {% for a in absences %}
   
    
            <div >
            
            <a>Absent à {{a.session.course.name}} le {{a.session.date}} </a>
            </div>
        
    {% endfor %}
    {% for l in lates %}
   
    
            <div >
            
            <a>En retard à {{l.session.course.name}} le {{l.session.date}} </a>
            </div>
        
    {% endfor %}
</div>
{% endblock %}