{% block content %}

<div class="class_call">
    <h3>Appel pour {{session.course.name}} par {{user.username}} :</h3>
    <table>
    <thead>
    
    
        <tr>
            <th scope="col">Eleve</th>
            <th scope="col">préom</th>
            <th scope="col">Nom</th>
            <th scope="col">Présence</th>
        </tr>
    </thead>
    <tbody>
    <form method="POST">
    {% csrf_token %}
    {% for s in student_list %}
   
        <tr>
            <th scope="row">{{s.username}}</th>
            <td>{{s.first_name}}</td>
            <td>{{s.last_name}}</td>
            <td><fieldset>
                
              
                <div>
                  <input type="radio" id="{{s.username}}"
                         name="{{s.username}}" value="present" checked />
                  <label for="present">présent</label>
                
                  <input type="radio" id="{{s.username}}"
                         name="{{s.username}}" value="absent"  />
                  <label for="absent">absent</label>
                
                  <input type="radio" id="{{s.username}}"
                         name="{{s.username}}" value="late"  />
                  <label for="late">en retard</label>
                </div>
            </fieldset>
            </td>
       
        </tr>
       
            
        
        
    {% endfor %}
    </tbody>
    </table>
    <button type="submit" href="{% url 'user_portal:attendance_teacher' %}">
        Valider </button>
</form>
</div>
{% endblock %}