{% extends 'users/base.html' %}

{% block content %}
<h2>Enregistrer des utilisateurs à partir d'un fichier CSV</h2>
<p>(Champs: 'first_name,last_name,email,user_type')</p>
<p>user_type: 'student' ou 'teacher' ou 'admin'</p>

<div class="form-holder">
    <div class="form-content">
        <div class="form-items revert-colors">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input class="black-text" type="submit"
                       value="Enregistrer à partir du CSV">
            </form>
        </div>
    </div>
</div>
{% endblock %}