/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

/* Form Holder */
.form-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

/* Form Content */
.form-content {
    width: 100%;
}

/* Form Items */
.form-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-items form {
    width: 100%;
}

/* Form Fields */
.form-items form p {
    margin: 10px 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Password Reset Link */
p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}