/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    height: 90vh;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

/* Password Reset Link */
p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}