{% extends "notes/base.html" %}

{% block content %}
{% if user.user_type == 'teacher' %}
<table>
  <thead>
  <tr>
      <th colspan="2">Informations sur le professeur</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>Nom Prénom</td>
      <td>{{ user.last_name }} {{ user.first_name }} </td>
  </tr>
  <tr>
      <td>Numéro professeur</td>
      <td> {{ user.username }} </td>
  </tr>
  </tbody>
</table>


  <table>
    <thead>
        <th colspan="7">Informations sur la note</th>
      </thead>
      <tr>
        <td colspan="6">Matière</td>
        <td>{{ subject }}</td>
      </tr>
      <tr>
        <td colspan="6">Classe</td>
        <td>{{ group }}</td>
      </tr>
      <tr>
        <td colspan="6">Coefficient</td>
        <td>{{ coefficient }}</td>
      </tr>
    
    <thead>
      <th colspan="6">Eleve</th>
      <th>Note</th>
    </thead>
    <tbody>
      {% for student in students%}
    <tr>
      <td colspan="6">{{ student.first_name }} {{ student.last_name }}</td>
      <td><input type="number" id="positive-float" name="positive-float" min="0" max="20" step="0.01"></td>
    </tr>
    {% endfor %}
    </tbody>
    <thead>
        <th colspan="6">Moyenne de classe</th>
        <th class="total">16,8</th>
    </thead>
    </div>
  </table>

  <button type="button">Valider</button>
{% else %}
  <div>
    Vous n'êtes pas autorisé à accéder à cette page ! 
    </div>
{% endif %}


{% endblock %}
