{% extends "notes/base.html" %}

{% block content %}
<table>
  <thead>
  <tr>
      <th colspan="2">Informations sur l'étudiant</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>Nom Prénom</td>
      <td>{{ user.last_name }} {{ user.first_name }} </td>
  </tr>
  <tr>
      <td>Numéro étudiant</td>
      <td> {{ user.username }} </td>
  </tr>
  <tr>
    <td>Classe</td>
    <td>{{ user_promo }}</td>
</tr>
  </tbody>
</table>

{% for unite in user_promo.ues.all %}
{% with j=forloop.counter %}
{% with k=forloop.counter %}

  <table>
    <thead>
    <tr>
        <th colspan="2">UE</span></th>
        <th>Professeur</th>
        <th>Coefficient</th>
        <th>Moyenne</th>
    </tr>
    </thead>
    <tbody>
    <td rowspan="50"> {{ unite.name }} </td>
  
   
    {% for mat in unite.Subjects.all %}
    {% with i=forloop.counter %}
    {% with k=forloop.counter %}
    <tr>
        <td> {{ mat.name }} </td>
        <td> {{ teachers|slice:j|last|slice:k|last }}</td>
        <td>{{ mat.coeff }}</td>
          <td>{{ subj_average|slice:j|last|slice:i|last }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %} 
    
    <tr>
      <td colspan="3">Total</td>
      <td class="total">{{ ues_average|slice:j|last }}</td>
    </tr>
    
   
  </tbody>
  </table>
  {% endwith %}
  {% endwith %}
{% endfor %}
<table>
  <thead>
  <tr>
      <th colspan="5">Observations</th>
  </tr>
  </thead>
</table>
text
{% endblock %}
