{% extends "notes/base.html" %}

{% block content %}
<table>
  <thead>
  <tr>
      <th colspan="2">Informations sur l'étudiant</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>Nom Prénom</td>
      <td>{{ user.last_name }} {{ user.first_name }} </td>
  </tr>
  <tr>
      <td>Numéro étudiant</td>
      <td> {{ user.username }} </td>
  </tr>
  <tr>
    <td>Classe</td>
    <td>1Ax</td>
</tr>
  </tbody>
</table>

{% for unite in ues %}
  <table>
    <thead>
    <tr>
        <th colspan="2"><span style="margin-left:40px;"">UE</span></th>
        <th>Professeur</th>
        <th>Coefficient</th>
        <th>Average</th>
    </tr>
    </thead>
    {% for mat in unite.subjects %}
    <tbody>
    <tr>
        <td rowspan="4"> {{ unite.name }} </td>
        <td> {{ mat.name }} </td>
        <td>Moyenne d'unité</td>
        <td>Moyenne d'unité</td>
        <td>17</td>
    </tr>
    <tr>
        <td>Education Artistique</td>
        <td>Moyenne d'unité</td>
        <td>Moyenne d'unité</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Education Physique</td>
        <td>Moyenne d'unité</td>
        <td>Moyenne d'unité</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Histoire Géographie</td>
        <td>Moyenne d'unité</td>
        <td>Moyenne d'unité</td>
        <td>9.83333333333333</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">Total</td>
      <td class="total">8.75</td>
    </tr>
  </tbody>
  </table>
{% endfor %}
<table>
  <thead>
  <tr>
      <th colspan="5">Controls Continues</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>First control</td>
      <td>Moyenne Note</td>
      <td>7</td>
      <td>Student</td>
       
  </tr>
  <tr>
      <td>Second control</td>
      <td>Moyenne Note</td>
      <td>5.5</td>
      <td>Student</td>
       
  </tr>
  <tr><td>Third control</td>
      <td>Moyenne Note</td>
      <td>-</td>
      <td>Student</td>
       
  </tr>
  <tr>
      <td>Fourth control</td>
      <td>Moyenne Note</td>
      <td>-</td>
      <td>Student</td>
       
  </tr>
  </tbody>
</table>
{% endblock %}
