<!doctype html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ensisingerie</title>
        {% block styles %}
            <link rel="stylesheet" href="{% static 'style.css' %}"/>
            <link rel="stylesheet" href="{% static 'users/css/style.css' %}"/>
            <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
        {% endblock %}
    </head>

    <body>
        {% block jquery %}
            <!-- Script jquery -->
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                    crossorigin="anonymous"></script>
        {% endblock %}
        <header>
            {% comment %}
            <a href="{% url 'main:home' %}" id="home-link-logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo"
                     id="logo"/>
            </a>

            <h1 id="title">
                <a href="{% url 'main:home' %}">Unote</a>
            </h1>{% endcomment %}

            <nav id="header-menu" {% if not user.is_authenticated %}
                 class="header-not-auth" {% endif %}>
                {% if not user.is_authenticated %}
                    <a href="{% url 'users:login' %}"><span class="border-link connection-color">Se connecter / Créer
                        un compte</span></a>
                {% else %}
                    <a href="{% url 'users:profil' %}"><span class="border-link my-profile-color">Mon profil</span></a>
                    {% if user.is_superuser %}
                        {% comment %}<a href="{% url 'main:administration' %}"><span class="border-link admin-color">Admin</span></a>{% endcomment %}
                    {% endif %}
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><span
                                class="border-link connection-color">
                            Se déconnecter</span></button>
                    </form>
                {% endif %}
                {% comment %}<a href="{% url 'main:help' %}"><span class="border-link support-color">Support</span></a>{% endcomment %}
            </nav>
            <div class="theme-switch day">
                <div class="sun">
                </div>
            </div>
        </header>

        <section id="main-content">
            {% block content %} {% endblock %}
        </section>

        <footer>
            <p>Site web ENSISA groupe Antropius/Ben
                Charnia/Carbon/Jabri/Ouidir/Oumaloul/Routier</p>
        </footer>

        {% block js %}
            <!-- Script de base -->
            <script type="text/javascript"
                    src="{% static 'script.js' %}"></script>
            <script type="text/javascript"
                    src="{% static 'users/js/script.js' %}"></script>
        {% endblock %}
    </body>
</html>