{% extends "user_portal/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user_portal/css/style_dashboard.css' %}"/>
{% endblock %}

{% block content %}
<section class="exam-preparation">
    <div class="exam-title">Événements</div>
</section>
<section class="content">
    <div class="schedule">
        <a href="schedule.html">
            <h2>Emploi du temps</h2>
        </a>
        <div class="schedule">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Lun</th>
                        
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:00 - 10:00</td>
                        <td>Math</td>
                        
                    
                    </tr>
                    <tr>
                        <td>10:00 - 12:00</td>
                        <td>Math</td>
                    
                    </tr>
                    <tr>
                        <td>12:00 - 14:00</td>
                        <td></td>
                    
                    </tr>
                    <tr>
                        <td>14:00 - 16:00</td>
                        <td>Math</td>
                    
                    </tr>
                    <tr>
                        <td>16:00 - 18:00</td>
                        <td>Math</td>
                    
                    </tr>
            
            
            
            
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="evaluation">
        <a href="next_exams.html">
            <h2>Évaluations & Examens</h2>
        </a>
        <ul>
            <li>exam 1</li>
            <li>exam 2</li>
            <li>exam 3</li>

        </ul>
    </div>
    <div class="absence">
        {% if user.user_type == "student" %}
            <a href="{% url 'user_portal:attendance_student' %}">
                <h2>Absence</h2>
            </a>
        {% else %}
            <a href="{% url 'user_portal:attendance_teacher' %}">
                <h2>Absence</h2>
            </a>
        {% endif %}
        <ul>
            <li>absence 1</li>
            <li>absence 2</li>
            <li>absence 3</li>

        </ul>
    </div>
    <div class="notes">
        <a href="{% url 'user_portal:notes' %}">
            <h2>Dernières notes</h2>
        </a>
        <ul>
            <li>note 1</li>
            <li>note 2</li>
            <li>note 3</li>

        </ul>
    

    </div>
    
</section>
{% endblock %}