{% extends "user_portal/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="left-column">
        {% if user.user_type == "student" %}
        <div class="evaluation">
            <h2>Évaluations & Examens</h2>
            <ul>
                    {% for exam in future_exams %}
                        <li>
                            <strong>{{ exam.course.name }}</strong> - {{ exam.date|date:"d M Y H:i" }}
                            <br> Salle : {{ exam.room.name }}
                        </li>
                    {% empty %}
                        <p>Aucun examen futur</p>
                    {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="absence">
            {% if user.user_type == "student" %}
            <a href="{% url 'user_portal:attendance_student' %}">
                    <h2>Absence</h2></a>
                    {% for a in absence_late %}
                        <div>

                        {% if a.presence == "absent" %}
                            Absent à {{a.session.lesson.name}} le {{a.session.date}}
                        {% endif%}
                        {% if a.presence == "late" %}
                            En retard à {{a.session.lesson.name}} le {{a.session.date}}
                        {% endif %}
                        </div>
                    {% empty %}
                        <p>Aucune absence a justifié</p>
                    {% endfor %}
            {% else %}
                <a href="{% url 'user_portal:attendance_teacher' %}">
                    <h2>Faire l'appel</h2>

                </a>
            {% endif %}

        </div>
        <div class="notes">
            {% if user.user_type == "student" %}

            <a href="{% url 'user_portal:notes' %}">
                <h2>Notes</h2>
            </a>

            <ul>
                {% for g in grades %}
                <li>{{ g.subject }} | {{ g.grade }}/20 |</li>
                {% empty %}
                <li> Aucune notes pour le moment</li>
                {% endfor %}
            </ul>

            {% else %}
            <a href="{% url 'user_portal:profviewhome' %}">
                <h2>Notes</h2>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="right-column">
        <div class="schedule-section">
            <!-- <a href="{% url 'user_portal:weekly_schedule' %}"> -->
                <h2>Emploi du temps pour aujourd'hui </h2>
            <!-- </a> -->
            <table>
                <thead>
                    <tr>
                        <th>Heure de début</th>
                        <th>Heure de fin</th>
                        <th>Cours</th>
                        <th>Salle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session, end_time in today_sessions %}
                    <tr>
                        <td>{{ session.date|time:"H:i" }}</td>
                        <td>{{ end_time|time:"H:i" }}</td> 
                        <td>{{ session.course.subject }}</td>
                        <td>{{ session.room }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucun cours programmé aujourd'hui.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <!-- <a href="{% url 'user_portal:weekly_schedule' %}"> -->
                <h2>Emploi du temps pour demain </h2>
            <!-- </a> -->
            <table>
                <thead>
                    <tr>
                        <th>Heure de début</th>
                        <th>Heure de fin</th>
                        <th>Cours</th>
                        <th>Salle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session, end_time in tomorrow_sessions %}
                    <tr>
                        <td>{{ session.date|time:"H:i" }}</td>
                        <td>{{ session.course.subject }}</td>
                        <td>{{ end_time|time:"H:i" }}</td>
                        <td>{{ session.room }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucun cours programmé demain.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}