{% extends "user_portal/base.html" %}

{% block content %}
<div class="flex_full notes_section">
    <h1>Université de Haute-Alsace</h1>

    {% if user.user_type == 'teacher'%}

    <form  action="{% url 'user_portal:profview_entergrades' %}"  method="post">
        {% csrf_token %}
    <table>
      <thead>
      <tr>
          <th colspan="2">Informations sur le professeur</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>Nom Prénom</td>
          <td>{{ user.last_name }} {{ user.first_name }} </td>
      </tr>
      <tr>
          <td>Numéro professeur</td>
          <td> {{ user.username }} </td>
      </tr>
      </tbody>
    </table>


      <table>
        <thead>
        <tr>
            <th colspan="7">Ajouter une note</span></th>
        </tr>
        </thead>
        <tbody>
        <td rowspan="2"><select  name="subject" required>
            <option value="" disabled selected hidden>Matière</option>
            {% for subject in subjects %}
            <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select> </td>


        <tr>
            <td colspan="5"><select name="class" required>
                <option value="" disabled selected hidden>Classe</option>
                {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select></td>
            <td><input type="number" name="coefficient" min="1" step="1" required placeholder="Coefficient"></td>
        </tr>
      </table>
        <button type="submit">Valider</button>
    </form>
    <button type="button"
            onclick="window.location.href='{% url 'user_portal:profviewhome' %}'">
        Retour</button>

      {% elif user.user_type == 'admin' %}
      <form  action="{% url 'user_portal:profview_entergrades' %}"  method="post">
        {% csrf_token %}
      <table>
        <thead>
        <tr>
            <th colspan="7">Ajouter une note</span></th>
        </tr>
        </thead>
        <tbody>
        <td rowspan="2"><select  name="subject" required>
            <option value="" disabled selected hidden>Matière</option>
            {% for subject in allsubj %}
            <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select> </td>


        <tr>
            <td colspan="5"><select name="class" required>
                <option value="" disabled selected hidden>Classe</option>
                {% for group in allgroups %}
                <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select></td>
            <td><input type="number" name="coefficient" min="1" step="1" required placeholder="Coefficient"></td>
        </tr>
      </table>
          <button type="submit">Valider</button>
      </form>
      <button type="button"
              onclick="window.location.href='{% url 'user_portal:profviewhome' %}'">Retour</button>


      {% else %}
      <div>
        Vous n'êtes pas autorisé à accéder à cette page !
        </div>
    {% endif %}
</div>
{% endblock %}
