{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div>
    <h2>FAQ + Aide</h2>

    <div class="notes_section">
        <h3>J'ai une absence. Comment la faire justifier ?</h3>
        <p>Vous ne pouvez pas le faire vous-même. Rendez-vous à la
            scolarité avec votre justificatif pour qu'un administrateur la
            justifie pour vous.</p>

        <h3>Comment modifier mon mot de passe ?</h3>
        <p>Il suffit de vous rendre dans la section "Mon compte", sur la
            page d'accueil, ou de cliquer sur "Modifier mot de passe"
            directement sur la page d'accueil côté administrateur.</p>

        <h3>J'ai une question dont la réponse ne se trouve pas ici.</h3>
        <p>Vous pouvez contacter le support du site à l'adresse
            unoteservice@gmail.com ou vous adresser à la scolarité de votre
            établissement.</p>
    </div>
</div>
{% endblock %}