{% extends "user_portal/base.html" %}

{% block content %}
<div class="flex_full notes_section">
    {% if user.user_type == 'teacher' or user.user_type == 'admin' %}

    <h1>Université de Haute-Alsace</h1>
     <div> Les notes ont été ajoutées avec succès</div>
     <button
             onclick="window.location.href='{% url 'user_portal:profview_grades' %}'">Voir les notes</button>
     <button onclick="window.location.href='{% url 'user_portal:profviewhome' %}'">
         Retour</button>
     {% else %}
      <div>
        Vous n'êtes pas autorisé à accéder à cette page !
        </div>
    {% endif %}
</div>
{% endblock %}
