/*------------------------------Variables-----------------------------------*/

:root {
    --primary-color: #A1E2ED;
    --secondary-color: #000000;

    --color-purple: #9c30ff;
    --color-blue: #2a49ff;
    --color-pink: #ff348f;
    --color-orange: #ff270b;
    --color-green: #1a9f30;

    --type1-a-color: #9F0505;
    --a-hover-color: #34495E;
    --a-active-color: #0000FF;

    --submit-button-color: var(--primary-color);
    --submit-button-background-color: var(--secondary-color);

    --chat-color1: #FF6F61;
    --chat-color2: #1EAFB8;

    --placeholder-color: #888888;

    --font-size: 16px;

    /* Theme switch */
    --toggle_height: 16em;
    --toggle_width: 30em;
    --toggle_btn_radius: 10em;
    --background-color-night: #080125;
    --background-color-day: #A1D4ED;
    --moon_color: #D9FBFF;

    /* Scrolling behavior */
    --scroll-behavior: smooth; /* permet un défilement de page plus doux */
    scroll-behavior: var(--scroll-behavior);
}

/*------------------------------Global---------------------------------------*/

.dark-theme {
    --primary-color: #1E1E1E;
    --secondary-color: #D2691E;

    --color-blue: #5770ff;
    --color-pink: #ff75b3;
    --color-orange: #ff7c6b;
    --color-purple: #b86bff;
    --color-green: #87e3cf;

    --type1-a-color: #AAB2B7;

    --submit-button-color: rgb(192, 200, 205);
    --submit-button-background-color: var(--primary-color);
    --placeholder-color: #DDDDDD;
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 0.5rem; /* largeur de la scrollbar */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* couleur de fond de la scrollbar */
    border-radius: 10px; /* coins arrondis de la scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(140, 154, 165, 0.3); /* couleur de la poignée de la scrollbar */
    border-radius: 10px; /* coins arrondis de la poignée de la scrollbar */
}

::placeholder {
    color: var(--placeholder-color);
}

/*------------------------------Structure------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #ecf0f1;
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav a {
    margin-left: 1em;
}

nav form {
    display: inline;
}

.in_body_button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
}

section {
    padding: 2em;
}

.header-link:hover {
    color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

ul li a {
    color: #2980b9;
    text-decoration: none;
}

h2, h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 1em;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #2980b9;
}

a:hover {
    color: #732d91;
}

.flex_full {
    flex: 1;
}

.container {
    display: flex;
    flex: auto;
}

button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 0.25em;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.messages {
    margin-top: 1em;
}

.alert {
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 0.25em;
    margin-bottom: 1em;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}









/*------------------------------Tables---------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table thead th {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 0.5em;
    text-align: left;
    font-weight: normal;
}

table tbody td,
table tbody th {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #f0f2f5;
}

/*------------------------------Forms----------------------------------------*/

input[type="checkbox"] {
    width: auto;
    margin: 0;
}

button[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    color: #2980b9;
}

input[type="text"], input[type="number"], select {
    padding: 0.25em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar a:hover, .left-column a h2:hover, .right-column a h2:hover {
    color: #2980b9;
}

.form-holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 2em;
}

.form-content {
    max-width: 800px;
    width: 100%;
}

.form-items {
    background-color: #ecf0f1;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-items form {
    margin-bottom: 1em;
}

.form-items input[type="text"],
.form-items input[type="file"],
.form-items select {
    width: calc(100% - 20px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.form-items input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

.form-items input[type="submit"]:hover {
    background-color: #2980b9;
}

.form-items p {
    margin-bottom: 1em;
}

.form-items input[type="datetime-local"],
.form-items input[type="number"],
.form-items select,
.form-items input[type="checkbox"] {
    width: calc(100% - 12px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.form-items input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

.form-items input[type="submit"]:hover {
    background-color: #2980b9;
}

.form-items label {
    font-weight: bold;
}

input[type="email"] {
    width: calc(100% - 20px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    font-size: 1em;
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    font-size: 1em;
}













button.in_body_button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
}

#right-panel h2 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 1em;
}

#right-panel form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#right-panel input[type="text"],
#right-panel input[type="file"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    font-size: 1em;
}

#right-panel input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

#right-panel input[type="submit"]:hover {
    background-color: #2980b9;
}

#right-panel #search-user-results,
#right-panel #search-group-results {
    margin-top: 1em;
}

#right-panel .scrollable-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#right-panel .scrollable-list li {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #f0f2f5;
    border-bottom: 1px solid #ddd;
}

#right-panel .scrollable-list li a {
    text-decoration: none;
    color: #2980b9;
}

#right-panel .scrollable-list li a:hover {
    text-decoration: underline;
}

#right-panel p a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

#right-panel p a:hover {
    text-decoration: underline;
}

#admin-content {
    display: flex;
    gap: 2em;
}

#left-panel {
    width: 25%;
    padding: 1em;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#left-panel h3 {
    color: #2c3e50;
    margin-bottom: 0.5em;
}

#left-panel ul {
    margin-bottom: 1.5em;
}

.internal-link:hover {
    color: #732d91;
}

#right-panel {
    width: 75%;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#my-account-content {
    width: 100%;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#user-section {
    display: flex;
    gap: 2rem;
}

.left-column {
    width: 25%;
    padding: 0 15px;
    margin-right: 2em;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.right-column {
    width: 75%;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    width: 10rem;
    height: 100vh;
}

.sidebar a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    margin-bottom: 10px;
}

.evaluation, .absence, .notes, .schedule {
    margin-bottom: 30px;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.schedule th {
    background-color: #f2f2f2;
}

.schedule td {
    background-color: #fff;
}

.schedule td:first-child {
    width: 30%;
}








body {
    transition: all .2s ease-in-out;
}

.theme-switch {
    font-size: 10%; /* Changer cette propriété pour modifier la taille du
    bouton */
    position: relative;
    margin-right: 0;
    height: var(--toggle_height);
    width: var(--toggle_width);
    border-radius: var(--toggle_height);
    border-style: inset;
    border-color: #000000;
    transition: all 500ms ease-in-out;
    background: var(--background-color-night);
}

.day {
    background: var(--background-color-day);
}

.sun {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;

    top: 4.5em;
    left: 18em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: #FFFFFF;
    box-shadow: 3em 3em 0 5em #FBE61E inset,
    0 -5em 0 -2.7em #FBE61E,
    3.5em -3.5em 0 -3em #FBE61E,
    5em 0 0 -2.7em #FBE61E,
    3.5em 3.5em 0 -3em #FBE61E,
    0 5em 0 -2.7em #FBE61E,
    -3.5em 3.5em 0 -3em #FBE61E,
    -5em 0 0 -2.7em #FBE61E,
    -3.5em -3.5em 0 -3em #FBE61E;
}

.moon {
    top: 3em;
    left: 3em;
    transform: rotate(-75deg);
    width: var(--toggle_btn_radius);
    height: var(--toggle_btn_radius);
    background: var(--background-color-night);
    box-shadow:
    3em 2.5em 0 0em var(--moon_color) inset,
    rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}

.no-transition {
    transition: none !important;
}