:root {
    --primary-color: #A1E2ED;
    --secondary-color: #000000;

    --color-purple: #9c30ff;
    --color-blue: #2a49ff;
    --color-pink: #ff348f;
    --color-orange: #ff270b;
    --color-green: #1a9f30;

    --type1-a-color: #9F0505;
    --a-hover-color: #34495E;
    --a-active-color: #0000FF;

    --submit-button-color: var(--primary-color);
    --submit-button-background-color: var(--secondary-color);

    --chat-color1: #FF6F61;
    --chat-color2: #1EAFB8;

    --placeholder-color: #888888;

    --font-size: 16px;

    /* Theme switch */
    --toggle_height: 16em;
    --toggle_width: 30em;
    --toggle_btn_radius: 10em;
    --background-color-night: #080125;
    --background-color-day: #A1D4ED;
    --moon_color: #D9FBFF;

    /* Scrolling behavior */
    --scroll-behavior: smooth; /* permet un défilement de page plus doux */
    scroll-behavior: var(--scroll-behavior);
}








html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100%;
    background-color: #0044cc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.header-left {
    float: left;
    flex: 1;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.header-right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}



.logos {
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.title {
    font-family: 'Courier New', Courier, monospace; /* Changez la police selon vos besoins */
    font-size: 3em; /* Taille du titre */
    font-weight: bold; /* Épaisseur du texte */
    text-align: center; /* Centrer le titre */
    color: #fff; /* Couleur de base du texte */

    /* Effet néon */
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #ff00ff,
        0 0 30px #ff00ff,
        0 0 40px #ff00ff,
        0 0 50px #ff00ff,
        0 0 60px #ff00ff;

    /* Animation néon */
    animation: neon 1.5s infinite alternate;
}

@keyframes neon {
    from {
        text-shadow: 
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #ff00ff,
            0 0 30px #ff00ff,
            0 0 40px #ff00ff,
            0 0 50px #ff00ff,
            0 0 60px #ff00ff;
    }
    to {
        text-shadow: 
            0 0 10px #fff,
            0 0 20px #ff00ff,
            0 0 30px #ff00ff,
            0 0 40px #ff00ff,
            0 0 50px #ff00ff,
            0 0 60px #ff00ff,
            0 0 70px #ff00ff;
    }
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #3498db;
}

nav form {
    margin: 0;
}

nav button {
    background-color: #ffffff;
    color: #0044cc;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #c0392b;
}


.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
}

footer {
    margin-top: auto;
    background-color: #0044cc;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0; left: 0; right: 0;

}

footer p {
    margin: 0;
    font-size: 14px;
}

/*------------------------------Theme switch---------------------------------*/

body {
    transition: all .2s ease-in-out;
}

.theme-switch {
    font-size: 2%; /* Changer cette propriété pour modifier la taille du
    bouton */
    position: relative;
    margin-right: 0;
    height: 4em;
    width: 8em;
    border-radius: var(--toggle_height);
    border-style: inset;
    border-color: #000000;
    transition: all 500ms ease-in-out;
    background: var(--background-color-night);
}

.day {
    background: var(--background-color-day);
}

.sun {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;

    top: 0.5em;
    left: 4em;
    transform: rotate(0deg);
    width: 3em;
    height: 3em;
    background: #FFFFFF;
    box-shadow: 0.5em 0.5em 0 0.5em #FBE61E inset,
    0 -0.7em 0 -0.4em #FBE61E,
    0.7em -0.7em 0 -0.5em #FBE61E,
    1em 0 0 -0.4em #FBE61E,
    0.7em 0.7em 0 -0.5em #FBE61E,
    0 1em 0 -0.4em #FBE61E,
    -0.7em 0.7em 0 -0.5em #FBE61E,
    -1em 0 0 -0.4em #FBE61E,
    -0.7em -0.7em 0 -0.5em #FBE61E;
}

.moon {
    top: 0.2em;
    left: 0.2em;
    transform: rotate(-75deg);
    width: 3em;
    height: 3em;
    background: var(--background-color-night);
    box-shadow:
    0.5em 0.5em 0 0em var(--moon_color) inset,
        rgba(255, 255, 255, 0.1) 0em -1em 0 -0.6em,
        rgba(255, 255, 255, 0.1) 0.5em 1em 0 -0.6em,
        rgba(255, 255, 255, 0.1) 0.3em 2em 0 -0.6em,
        rgba(255, 255, 255, 0.1) 1em 0.3em 0 -0.6em,
        rgba(255, 255, 255, 0.1) 1.3em 1.3em 0 -0.6em,
        rgba(255, 255, 255, 0.1) 1em 2em 0 -0.6em,
        rgba(255, 255, 255, 0.1) -0.6em 1em 0 -0.6em,
        rgba(255, 255, 255, 0.1) -0.2em 1.5em 0 -0.6em;

}

.no-transition {
    transition: none !important;
}